.header {
  background-color: black;
}

.header__link {
  text-decoration: none;
}

.header__title {
  font-family: "Otomanopee One", sans-serif;

  color: white;
  margin-left: 1%;
  padding-bottom: 1%;
  padding-top: 0.5%;
}

.header__specialLetter {
  color: orangered;
}
.header__titleLittle {
  font-size: 10px;
}
