.navbar {
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 0;
  width: 50%;
  padding-top: 0.75%;
}

.navbar__List {
  list-style: none;
  width: 100%;
  position: absolute;
  align-items: center;
}

.navbar__Name {
  padding: 2%;
  float: right;
  align-content: center;
}

.navbar__Link {
  text-decoration: none;
  color: white;
}

.navbar__Name:hover {
  font-weight: bold;
}

.navbar__Search {
  display: flex;
  flex: 1;
}

.navbar__SearchInput {
  height: 18px;
  border: none;
  border-radius: 2px 0 0 2px;
}

.navbar_SearchIcon {
  height: 18px !important;
  background-color: #cd904d;
  color: white;
  border-radius: 0 2px 2px 0;
}
