.carousel {
  height: 700px;
  background-color: black;
}

.carousel__Inner {
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
