.header {
  background-color: black;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-left: 1%;
}

.header__Logo {
  flex: 60%;
  padding-bottom: 1%;
  padding-top: 0.5%;
}

.header__Link {
  text-decoration: none;
}

.header__Title {
  font-family: "Merriweather", serif;
  color: white;
}

.header__SpecialLetter {
  color: orangered;
}
.header__TitleLittle {
  font-size: 10px;
}

.header__NavBar {
  flex: 40%;
  display: flex;
  align-items: center;
}
