.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.navbar__Element {
  flex-grow: 1;
}

.navbar__Link {
  text-decoration: none;
  color: white;
}

.navbar__Link:hover {
  font-weight: bold;
}

.navbar__Search {
  display: flex;
  flex: 1;
  margin-right: 4%;
}

.navbar__SearchInput {
  height: 18px;
  border: none;
  border-radius: 2px 0 0 2px;
}

.navbar_SearchIcon {
  height: 18px !important;
  background-color: #cd904d;
  color: white;
  border-radius: 0 2px 2px 0;
}

.navbar__Cart {
  display: flex;
  align-items: center;
}

.navbar__CartNumber {
  align-items: center;
  background-color: red;
  border-radius: 100%;
  color: white;
  display: flex;
  font-size: 8px;
  height: 18px;
  justify-content: center;
  text-align: center;
  width: 18px;
}
